* {
  padding: 0;
  margin: 0;
}
.HomeMenu {
  height: 80px;
  width: 100%;
  background-color: #142741;
  color: white;

}
.HomeMenu li {
  line-height: 80px;
  height: 80px;
  float: left;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 40px;
  list-style: none;

}
a {
  color: white;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  text-align: center;
}
.active {
  height: 80px;
  color: white;
  background-color: #1874fd;
}


