.new-product {
  padding: 30px 10px;
  background-color: #f2f2f2;
  height: 100vh;
}

.product-form {
  width: 100%;
  background-color: white;
}

h1 {
  padding-top: 30px;
  text-align: center;
}

form {
  margin: auto 40px;
}

form > label {
  line-height: 30px;
  display: inline-block;
  width: 100%;
}

form > input {
  line-height: 30px;
  width: 90%;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.required:before {
  content: " *";
  color: red;
}
.submit {
  width: 100%;
  display: inline-block;
  margin-bottom: 10vh;
}
.submit > input {
  width: 80px;
  height: 40px;
  background-color: #3e84ff;
  color:white;
  border-radius: 5px;
}
input[type=submit]:disabled,
button:disabled {
background-color: gray;
  color: #142741;
}
